<section class="blog-list mtb-40">
  <div class="container">
    <h1>Article List</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/image1.png" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>The Benefits of Journaling</h3>
                <p>by <span>Sudhanshu Singh</span></p>
                <p>
                  How Writing Can Improve Your Mental Well-being? Explore the
                  therapeutic benefits of journaling, including stress
                  reduction, self-reflection, and enhanced creativity...
                </p>
                <a href="/article/1" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/image2.jpeg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>Unlocking Creativity</h3>
                <p>by <span>Rajeev Singhal</span></p>
                <p>
                  Strategies for Overcoming Creative Blocks, Discover effective
                  techniques to overcome creative blocks and foster a more
                  innovative and inspired mindset...
                </p>
                <a href="/article/2" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/image3.png" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>BGMI/PUBG Mobile popularity</h3>
                <p>by <span>Krafton Singh</span></p>
                <p>
                  Mobile gamers who play PUBG Mobile or BGMI have grown
                  accustomed to the game and its gameplay,making it difficult
                  for any mobile game developer to entice them to play another
                  Battle Royale game.Although PUBG: New State has a similar
                  concept, the game falls far short of PUBG Mobile or BGMI...
                </p>
                <a href="/article/3" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/image4.jpeg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>The Travel Episodes</h3>
                <p>by <span>Kratika Srinivasan</span></p>
                <p>
                  What I love about it: The Travel Episodes does not just take
                  storytelling to the next level with their writings but also
                  with video clips, sound effects, and photography. It's like
                  reading a futuristic storybook that teleported you to the
                  place...
                </p>
                <a href="/article/4" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/image5.jpeg" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>TECHNOLOGY</h3>
                <p>by <span>Meenakshi Shaw</span></p>
                <p>
                  Technology is transforming every inch of our lives. As such,
                  it’s an overarching topic that could just as well cater to a
                  business audience as a consumer one. Software reviews Business
                  automation Consumer electronics Artificial Intelligence Apple
                  products Android products
                </p>
                <a href="/article/5" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-box">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/image6.png" alt="blog1" />
              </div>
              <div class="col-md-8">
                <h3>What is MEAN Stack?</h3>
                <p>by <span>Pradeep Maurya</span></p>
                <p>
                  In the world of software development, MEAN Stack is one of the
                  most widely used technological stacks and a web development
                  framework...
                </p>
                <a href="/article/6" class="readmore">Read more...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-featured-articles></app-featured-articles>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
